<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.a1074718775qq.yichong">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读使用拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 加入外部存储设备的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 读取短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission
        android:name="android.permission.CALL_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.AdviceActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.AdoptPetActivity" />
        <activity android:name=".activity.FindPetActivity" />
        <activity android:name=".activity.PetShowActivity" />
        <activity android:name=".activity.PermissionsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.a1074718775qq.yichong.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name="com.amap.api.location.APSService"></service>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f2dee2b67c8bb8c1ffc8c6099c79a75f" />

        <activity android:name=".activity.NewsWebActivity"></activity>
    </application>

</manifest>